lab2/c_lang/code1_sed.c
lab2/c_lang/code2_sed.c
lab2/c_lang/code3_sed.c
lab2/c_lang/code4_sed.c
*.swp

lab2/c_lang/corrected.c
lab2/c_lang/scanner_test
lab2/c_lang/tolkens.txt
lab2/c_lang/scanner.c
lab2/c_lang/selected.txt
lab2/c_lang/tokens.txt

lab3/project/*
lab3/summer/antlr-4.7.2-complete.jar

lab4/project/.idea/*
lab4/project/*.iml
lab4/project/src/*.jar
lab4/project/src/*.svg
lab4/project/src/*.interp
lab4/project/src/*.tokens
lab4/project/src/*.class
lab4/project/src/tests/*

lab4/project/src/GrammarBaseVisitor.java

lab4/project/src/GrammarLexer.java

lab4/project/src/GrammarParser.java

lab4/project/src/GrammarVisitor.java

lab4/project/src/a

lab4/project/src/arquivo.ll

lab4/project/src/arquivo.s

lab4/project/src/test.sh

lab4/project/src/out.txt
